ANTHROPIC_API_KEY=your_anthropic_api_key_here
CLAUDE_CODE_API_KEY=your_anthropic_api_key_here
OUTPUT_DIR_FILES=output-sample/files
INPUT_DIR_FILES=input-sample/files
INPUT_DIR_JSON=input-sample/json
OUTPUT_DIR_JSON=output-sample/json
